* text=auto

# Frontend
*.css diff=css eol=lf
*.html diff=html eol=lf
*.js diff=auto eol=lf

# css
*.scss diff=scss eol=lf

# Backend
*.php diff=php eol=lf
*.blade.php diff=html eol=lf

# Documentation
*.md diff=markdown eol=crlf

# Configuration
*.yml diff=yml eol=lf
*.xml diff=xml eol=lf
*.json diff=json eol=lf


#
.htaccess diff=htaccess eol=lf
.env diff=env eol=lf

#
*.sh diff=bash eol=lf

#
Vagrantfile diff=auto eol=lf


# Git
.gitattributes diff=auto eol=lf
.gitignore diff=auto eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
